.tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tag-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF6060;
    color: #FFF;
    border-radius: 10px;
    min-width: 101px;
    min-height: 25px;
    font-size: 14px;
    margin-right: 10px;
    padding: 0px 7px
}

.tag-btn p {
    margin: 0;
}


/* MEDIA QUERIES SMALL */
@media all and (min-width: 0px) and (max-width: 1239px) {
    /* TAG */
    .container-housing .left-details .tag {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        width: 100%;
        text-align: center;
    }
    .container-housing .left-details .tag .tag-btn {
        height: 18px;
        padding: 0 3px;
        margin-bottom: 5px;
        min-width: 84px;
        min-height: 18px;
    }

    .tag .tag-btn p {
        font-size: 10px!important;
        margin-bottom: 0!important;
        padding: 1px!important;
    }

}