.div-bannerAbout {
    position: relative;
}

.div-bannerAbout-image img {
    max-width: 1240px;
    height: 223px;
    border-radius: 25px;
}

/* IMPORT IMAGE DESKTOP */
.importBanner {
    background-image: url("./bannerAbout.png");
    background-repeat: no-repeat;
    max-width: 1240px;
    width: 100%;
    height: 223px;
    border-radius: 25px;
  }

.bannerAbout-overlay {
    max-width: 1240px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;
}


/* MEDIA QUERIES SMALL */
@media all and (min-width: 300px) and (max-width: 1239px) {

    .div-bannerAbout {
        width: 100%;
        height: 223px;
        border-radius: 25px;
        margin: 0;
        text-align: center;
    }

    /* IMPORT IMAGE SMALL */
    .importBanner {
        background-image: url("./bannerAboutSmall.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 223px;
        border-radius: 25px;
        margin: 0 auto;
        background-size: cover;
    }

    .bannerAbout-overlay {
        max-width: 1240px;
        width: 100%;
        height: 223px;
        border-radius: 25px;
    }
}
