header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    height: 68px;
    margin: 40px auto;
}


/* ==================================== */
/* == SCREEN 0 > 1239PX == */
@media all and (min-width: 0px) and (max-width: 1239px) {

    header {
        width: 90%;
        min-width: 335px;
        margin: 20px auto;
    }

    /* LOGO */
    header img {
        width: 145px;
        height: 47px;
    }
  }
