/* == SCREEN > 1239 px == */
.home-container {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    padding-top: 23px;
}

/* == SCREEN 0 < 1239 px == */
@media all and (min-width: 0px) and (max-width: 1239px) {
    .home-container {
        width: 90%;
        padding: 0;
    }
}