.collapse-btn {
    max-width: 1023px;
    width: 100%;
    text-align: left;
    background: #FF6060;
    border-radius: 5px;
    border: none;
    color: #FFF;
    margin: 33px auto;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    height: 47px;
    cursor: pointer;
  }

  .collapse-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  
  .collapse-content.collapsed {
    display: none;
}

  .collapse-content.expanded {
    display: block;
    margin: 0 auto;
    max-width: 1023px;
    width: 100%;
    height: 100%;
  }
 

  .collapse-content.expanded p {
    margin-top: -5px;
    background-color: #F7F7F7;
    color: #FF6060;
    border-radius: 0 0 5px 5px;
    padding: 36px 27px 18px 18px;
    line-height: 34px;
    font-size: 24px;
    text-align: left;
    font-weight: 400;
  }

  .icon-collapse {
    display: block;
    float: right;
    transition: transform 0.2s;
  }

  .icon-collapse.expanded {
    transform : rotate(-180deg);
  }


  .container-housing .container-collapse .collapse-btn {
    width: 582px;
    min-height: 52px;
    font-size: 18px;

  }

  .container-housing p li {
    list-style: none;
  }

  .container-housing .collapse-content {
    width: 582px;
  }

  .container-housing .collapse-content.expanded p {
    font-weight: 400;
    font-size: 18px;
    padding-top: 40px;
    line-height: 26px;
  }


/* MEDIA QUERIES SMALL */
@media all and (min-width: 375px) and (max-width: 1239px) {

  .about-container .collapse-btn {
    margin-top: 20px;
    height: 30px;
    font-size: 13px;
    padding: 0px 20px 0px 20px;
  }

  .about-container .icon-collapse {
    width: 15px;
    height: 15px;
  }

  .about-container .icon-collapse img {
    width: 15px;
    height: 15px;
  }

  .about-container .collapse-content.expanded p {
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    padding: 17px 9px;
  }

  

}
  