.div-thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: #F7F7F7;
    border-radius: 25px;
    padding: 56px 50px;
    row-gap: 50px;
    column-gap: 60px;
}

.div-thumbs a {
    position: relative;
    text-decoration: none;
    width: 340px;
    height: 340px;
}

.thumb-img {
    width: 100%;
    height: 100%;
}

.div-thumbs img{
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

.thumb-title {
    position: absolute;
    top: 268px;
    left: 20px;
    color: #FFF;
    font-weight: 500;
    text-align: left;
    z-index: 2;
}

.thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
}

.thumb-overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
}


/* MEDIA QUERIES MEDIUM */
@media all and (min-width: 375px) and (max-width: 1240px) {

    .div-thumbs {
        justify-content: center;
        padding: 0;
        background: #FFF;
        column-gap: 40px;
        row-gap: 20px;
    }
    .div-thumbs img {
        height: 40vh;
    }

    .div-thumbs a {
        height: 40vh;
    }

    /* OVERLAY */
    .thumb-overlay {
        height: 40vh;
    }

    /* TITRE VIGNETTE */
    .thumb-title {
        top: 75%;
    }
}

