.div-bannerHome {
    position: relative;
    text-align: center;
    margin-bottom: 43px;
}

/* IMAGE */
.div-bannerHome-image img {
    max-width: 1240px;
    width: 100%;
    border-radius: 25px;
    text-align: left;
}

/* OVERLAY */
.bannerHome-overlay {
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #000;
    opacity: 0.3;
    max-width: 1240px;
    width: 100%;
    height: 98%;
    border-radius: 25px;
    z-index: 1;
}

/* TEXTE */
.div-bannerHome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;
    font-weight: 500;
    font-size: 48px;
    z-index: 2;
    width: 80%;
}

.return-line-text-bannerHome {
    display: none;
}



/* MEDIA QUERIES SMALL */
@media all and (min-width: 300px) and (max-width: 1239px) {

    .div-bannerHome {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 22px;
    }

    /* TEXTE */
    .div-bannerHome-text {
        top: 50%;
        margin: 1px;
        text-align: left;
        font-size: 24px;
        width: 90%;
        margin: 0;
    }

    .div-bannerHome-text p {
        margin: 0 auto;
    }

    /* OVERLAY */
    .bannerHome-overlay {
        width: 100%;
        height: 16vh;
        border-radius: 10px;
        margin: 0 auto;
        min-height: 112px;
    }

    .div-bannerHome-image {
        width: 100%;
        min-width: 335px;
        margin: 0 auto;
    }

    .div-bannerHome-image img {
        max-width: 1240px;
        width: 100%;
        text-align: left;
        border-radius: 10px;
        height: 16vh;
        min-height: 112px;
    }

    /* Retour à ligne du texte de la bannière */
    .return-line-text-bannerHome {
        display:initial;
    }
  }