.home-container {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    padding-top: 23px;
}

/* MEDIA QUERIES SMALL */
@media all and (min-width: 375px) and (max-width: 600px) {

    .home-container {
        min-width: 335px;
    }
}