.container-error {
    color: #FF6060;
    margin-top: 170px;
}

.title-error{
    margin: 0px;
    font-size: 288px;
    font-weight: 700;
}

.text-error {
    margin-top: 65px;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: 500;
}

.linkErrorToHome {
    display: inline-block;
    color: #FF6060;
    margin-top: 182px;
    margin-bottom: 160px;
    list-style-type: none;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
}

.linkErrorToHome:hover {
    text-decoration: none;
}

.return-line-text-error {
    display: none;
}


/* MEDIA QUERIES SMALL */
@media all and (min-width: 300px) and (max-width: 1239px) {

    .container-error {
        text-align: center;
        width: 100%;
        margin-top: 175px;
    }

    .container-error .title-error {
        font-size: 96px;
    }

    .container-error .text-error {
        width: 80%;
        margin: 10px auto;
        font-size: 18px;
    }
    .container-error .return-line-text-error {
        display: initial;
    }
    .container-error .linkErrorToHome {
        font-size: 14px;
        margin-top: 133px;
    }
}

