/* CONTAINER-HOUSING */
.container-housing {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    margin-top: -20px;
}

/* ROOT POUR GÉRER LA HAUTEUR DE LA PAGE ET L'EMPLACEMENT DU FOOTER TODO */
#root {
    position: relative;
    min-height: 100vh;
}

/* DETAILS PRODUCT */
.detail-product {
    text-align: left;
    color: #FF6060;
    font-weight: 500;
}
.detail-product h2 {
   font-weight: 500;
   font-size: 36px;
   margin: 0;
}

.detail-product p {
    margin-top: 0px;
}

.city {
    margin-bottom: 23px;
}

/* COLLAPSE PRODUCT */
.collapse-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container-infos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-top: -10px;
}

/* OWNER INFO*/
.owner-name {
    color: #FF6060; 
    font-size: 18px;
    width: 93px;
    height: 52px;
    text-align: right;
    margin: 0 10px 0 0;
}

.owner-picture {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}



