.product-container {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    margin-top: -43px;
}

#root {
    position: relative;
    min-height: 100vh;
}

/* DETAILS PRODUCT */
.detail-product {
    text-align: left;
    color: #FF6060;
    font-weight: 500;
}
.detail-product h2 {
   font-weight: 500;
   font-size: 36px;
   margin: 0;
}

.detail-product p {
    margin-top: 0px;
}

.city {
    margin-bottom: 20px;
}

/* COLLAPSE PRODUCT */
.collapse-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.right-details {
    float: right;
}


.container-infos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.container-owner {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.owner-name {
    color: #FF6060; 
    font-size: 18px;
    width: 93px;
    height: 52px;
    margin: 0;
}

.owner-picture {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}



