.div-navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    height: 34px;
}

.div-navigation a:first-child {
    margin-right: 57px;
}

.div-navigation a {
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    color: #FF6060;
}

.div-navigation li {
    transition: 0.2s;
    cursor: pointer;
}

.div-navigation li:hover {
    transition: 0.2s;
    cursor: pointer;
}

.nav-active {
    position: relative;
}

.nav-active::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #FF6060;
    width: 0;
    border-radius: 10px;
    bottom: 0;
    left: 50%;
    color: #FF6060;
    transform: translateX(-50%);
    animation: anim 0.5s ease forwards;
}

@keyframes anim {
    to {
        width: 100%;
    }
}


/* MEDIA QUERIES SMALL */
/* @media all and (min-width: 375px) and (max-width: 600px) {

    .div-navigation {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        height: 34px;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        width: 140px;
        height: 17px;
    }

    .div-navigation a:first-child {
        margin-right: 10px;
    }

    .div-navigation a {
        font-size: 12px;
        text-transform: uppercase; 
    }
} */

