.div-navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    height: 34px;
    align-items: center;
}

.div-navigation li:first-child {
    margin-right: 57px;
}

.div-navigation a {
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    color: #FF6060;
    font-weight: 500;
}

.div-navigation a:hover {
    color: #fd3333;
}

/* NAV-ACTIVE */
.nav-active {
    position: relative;
}

.nav-active::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #FF6060;
    width: 0;
    border-radius: 10px;
    bottom: 0;
    left: 50%;
    color: #FF6060;
    transform: translateX(-50%);
    animation: anim 0.5s ease forwards;
}

@keyframes anim {
    to {
        width: 100%;
    }
}


/* MEDIA QUERIES SMALL */
 @media all and (min-width: 300px) and (max-width: 1239px) {

    .div-navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 47px;
    }

    .div-navigation li:first-child {
        margin-right: 10px;
    }

    .div-navigation li a {
        font-size: 12px;
        text-transform: uppercase; 
    }
}

