
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* == BODY == */
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

/* == ROOT == */
#root {
  width: 100%;
  margin: 0 auto;
}

/* ==================================== */
/* == SMALL 350 > 750PX == */
/* @media all and (min-width: 350px) and (max-width: 750px) { */

  /* == ROOT SMALL == */
  /* #root {
    width: 90%;
    margin: 0 auto;
  }

} */