
footer {
    margin-top: 43px;
    background-color: #000;
    color: #FFF;
    font-size: 24px;
    height: 209px;
    width: 100%;
    font-weight: 500;
}

footer img {
    margin-top: 66px;
}

footer p {
    margin-bottom: 29px;
}

/* MEDIA QUERIES MEDIUM */
@media all and (min-width: 300px) and (max-width: 1239px) {
    footer {
        margin-top: 22px;
    }

    footer p {
        font-size: 12px;
        margin: 12px auto 0 auto;
    }
}